# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.OnionArchitecture.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\C# Projects\OnionArchitecture\.idea\.idea.OnionArchitecture.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
